@charset "utf-8";

@import url('common.css');
@import url('module.css');
@import url('contents.css');

.numberCircle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: solid 1px;
    text-align: center;
    display: inline-block;
    font-size: smaller;
}

.show_count {
    display: inline-block;
    margin: 10px auto;
}